<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiziyun.boss.dal.mapper.OperatorRoleDOMapper">
    <!-- 自动生成,请修改 BOSS_OPERATOR_ROLE.xml -->
    <resultMap id="BaseResultMap"  type="com.maiziyun.boss.dal.dataobject.OperatorRoleDO">
        <id column="ID" property="id" jdbcType="INTEGER" javaType="Integer"/>
        <result column="ROLE_ID" property="roleId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,ROLE_ID,CREATE_TIME,OPERATOR_ID,UPDATE_TIME
    </sql>


    <!--插入表:BOSS_OPERATOR_ROLE-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO BOSS_OPERATOR_ROLE(
            ROLE_ID
            ,CREATE_TIME
            ,OPERATOR_ID
            ,UPDATE_TIME
        )VALUES(
            #{roleId,jdbcType=INTEGER}
            , sysdate()
            , #{operatorId,jdbcType=INTEGER}
            , sysdate()
        )
    </insert>

    <!--更新表:BOSS_OPERATOR_ROLE-->
    <update id="update" >
        UPDATE /*MS-BOSS-OPERATOR-ROLE-UPDATE*/ BOSS_OPERATOR_ROLE
        SET
            ROLE_ID         = #{roleId,jdbcType=INTEGER}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,OPERATOR_ID     = #{operatorId,jdbcType=INTEGER}
            ,UPDATE_TIME     = #{updateTime,jdbcType=TIMESTAMP}
        WHERE
            ID              = #{id,jdbcType=INTEGER}
    </update>

    <!--根据主键删除数据:BOSS_OPERATOR_ROLE-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-BOSS-OPERATOR-ROLE-DELETEBYPRIMARY*/ FROM
            BOSS_OPERATOR_ROLE
        WHERE
            ID = #{id,jdbcType=INTEGER}
    </delete>

    <!--根据操作员Id删除对应的关联信息：BOSS_OPERATOR_ROLE-->
    <delete id="deleteByOperatorId" >
        DELETE /*MS-BOSS-OPERATOR-ROLE-DELETEBYOPERATORID*/ FROM
        BOSS_OPERATOR_ROLE
        WHERE
        operator_id = #{id,jdbcType=INTEGER}
    </delete>

    <!--根据主键获取数据:BOSS_OPERATOR_ROLE-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-BOSS-OPERATOR-ROLE-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM BOSS_OPERATOR_ROLE
        WHERE
            ID = #{id,jdbcType=INTEGER}
    </select>

    <!--修改操作员的角色:BOSS_OPERATOR_ROLE-->
    <update id="updateRoleByOperatorId" >
        update /*MS-BOSS-OPERATOR-ROLE-UPDATEROLEBYOPERATORID*/ BOSS_OPERATOR_ROLE
        set
        update_time=sysdate(),
        role_id=#{roleId,jdbcType=INTEGER}
        where operator_id=#{operatorId,jdbcType=INTEGER}
    </update>

    <!--根据操作员id获取角色列表：BOSS_OPERATOR_ROLE-->
    <select id="selectRolesByOperId" resultType="java.lang.Integer">
        select /*MS-BOSS-OPERATOR-ROLE-SELECTROLESBYOPERID*/ role_id as roleId
        from BOSS_OPERATOR_ROLE
        where operator_id=#{operatorId,jdbcType=INTEGER}
    </select>
</mapper>
